body {
  margin: 0 auto;
  padding: 0;
  /* height: 100vh; */
  background-color: hsl(30, 85%, 60%);
  font-family: futura, sans-serif;
  font-size: 18px;
}

input[type="text"] {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-content: center;
  font-size: 1.5rem;
  color: hsl(200, 15%, 35%);
  background-color: blanchedalmond;
  border-radius: 5px;
  border: none;
  margin: 0 1rem;
  text-align: center;
}
input:focus {
  outline: none;
  box-shadow: 0 0 0 4px hsl(30, 05%, 60%);
}
::placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2rem;
  text-indent: 10%;
}

section {
  margin: 0 auto;
  width: 80%;
}

h1,
h2 {
  color: blanchedalmond;
  
}
h1 {
  margin: 10% auto 7% auto;
  font-size: 4rem;
  text-align: center;
  border-bottom: 10px solid hsla(30, 30%, 34%, 0.2);
  padding-bottom: 5vh;
  max-width: 42vh;
}
h2 {
  width: 70%;
  font-size: 3rem;
  text-align: center;
  margin: 10% auto;
}

#date {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 50%;
  align-content: center;
}

 #home-page {
  margin-bottom: 15vh;
} 
#submit_label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#submit {
  margin: 3rem auto 1rem auto;
  min-width: 42vh;
  height: 4rem;
  border-radius: 5px;
  background-color: hsla(30, 30%, 34%, 0.2);
  color: blanchedalmond;
  font-size: 2rem;
  border: none;
  outline: none;
}
#submit:focus {
  outline: none;
}
#submit:hover {
  cursor: pointer;
  background-color: hsla(30, 30%, 34%, 0.4);
}
#year {
  width: 6rem;
}
#giff_image {
  display: flex;
  justify-content: center;
  
}
img {
  margin-top: 100px;
}
#results-page {
  display: none;
  height: 100vh;
} 
.asteroids {
  background-color: hsla(30, 30%, 34%, 0.3);
  color: blanchedalmond;
  padding: 3vh;
  min-width:30vh;
  max-width: 30vh;
  margin: 3vh;
  border-radius: 10px; 
}

#fate_data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10vh;
}
